<a href="https://colab.research.google.com/github/abhishek00045454/my-_own_work/blob/main/demo_006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Common ques
1. can we use lab? YES
2. Can we use Jupyter notebook locally? YES
3. Can we use neuro lab? YES
4. Can we use VSCODE? YES
4. Can we use PyCharm? YES
5. Can we use Colab? YES
6. Can we code simultaneosly code? YES definitely
7. Where are the resouces available? Its in you dashboard under the video that you play - 
![image.png]()

9. Do we get notes? YES

# AGENDA
1. Control flow statements
- if else
- if elif else
- Nested if else
- Single line if else [Not recommended]
2. Loops in python
- for
- while

## if else [Covered]

## If elif

Online Food orders - Zomato App, Swiggy, Uber Eats

- if you order more than Rs.499
  - discount = 20%
- if you order more than Rs.999
  - discount = 30%
- if you order more than 1499
  - discount = 40%

In [ ]:
total_amount = 90 + 100 + 100 + 1000

print(f"cart total: {total_amount}")

if total_amount > 999:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount: {price_after_discount}")
elif total_amount <= 999 and total_amount > 499: #  999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount: {price_after_discount}")
else:
  print(f"Pay amount: {total_amount}")

cart total: 1290
Pay amount: 903.0

In [ ]:
total_amount = 90 + 100 #+ 100 + 1000

print(f"cart total: {total_amount}")

if total_amount > 999:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount: {price_after_discount}")
elif total_amount <= 999 and total_amount > 499: #  999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount: {price_after_discount}")
else:
  print(f"Pay amount: {total_amount}")

cart total: 190
Pay amount: 190

In [ ]:
total_amount = 90 + 100 + 500

print(f"cart total: {total_amount}")

if total_amount > 999:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount: {price_after_discount}")
elif total_amount <= 999 and total_amount > 499: #  999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount: {price_after_discount}")
else:
  print(f"Pay amount: {total_amount}")

cart total: 690
Pay amount: 552.0

In [ ]:
total_amount = 90 + 100 + 500

print(f"cart total: {total_amount}")

if total_amount > 999:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount: {price_after_discount}")
elif  499 < total_amount <= 999: #  999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount: {price_after_discount}")
else:
  print(f"Pay amount: {total_amount}")

cart total: 690
Pay amount: 552.0

In [ ]:
total_amount = 90 + 100 + 500

print(f"cart total: {total_amount}")

if total_amount > 999:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount: {price_after_discount}")
if 499 < total_amount <= 999: #  999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount: {price_after_discount}")
else:
  print(f"Pay amount: {total_amount}")

In [ ]:
total_amount = 90 + 100 + 500 + 1000

print(f"cart total: {total_amount}")

if total_amount > 1499:
  price_after_discount = total_amount * 60/100
  print(f"Pay amount: {price_after_discount}")
elif 999 < total_amount <= 1499:
  price_after_discount = total_amount * 70/100
  print(f"Pay amount: {price_after_discount}")
elif 499 < total_amount <= 999: #  999 <= price < 499
  price_after_discount = total_amount * 80/100
  print(f"Pay amount: {price_after_discount}")
else:
  print(f"Pay amount: {total_amount}")

cart total: 1690
Pay amount: 1014.0

### Nested if else

print if the no is negative or positive

In [ ]:
val = float(input("Enter a nuber:"))
if val>=0:
  if val == 0:
    print("Its zero")
  else:
    print("Its a positive no")
else:
  print("Negative number")

Enter a nuber:-12
Negative number

### Single line if else

NOTE: NOT RECOMMENDED FOR CODING IN PROJECTS OR PRODUCTION

but good for competitive programming

print YES of the no is greater than 99

In [ ]:
# OK for competitive program
# For production code or in a company its not recommended
val = float(input("Enter a number"))

if val > 99: print("YES")
else: print("NO")

Enter a number9
NO

In [ ]:
# Recommended approach
# Its more readable and clean

val = float(input("Enter a number"))

if val > 99: 
  print("YES")
else: 
  print("NO")

Enter a number999
YES

In [ ]:
# only good for competitive programming
val = float(input("Enter a number: "))

print("YES" if val > 99 else "NO")

Enter a number: 100
YES

In [ ]:
val = float(input("Enter a number: "))

print("YES" if val > 99 else "NO")

Enter a number: 9
NO

## Loops
1. While loop
2. For loop
3. Loop control
  - break
  - continue
  - pass
4. Nested loop

# UPSC, IAS, Goverment exams, Board exams, 
## Repetive attempts

while I do not cross the cutoff I will keep on giving my exams

while CONDTION is True:
  print()

In [ ]:
cutoff = 400
scores = [100, 200, 300, 399, 500]

# I will keep on attempting until I succeed
year = 0 # indexing in python starts with 0

while scores[year] < cutoff:
  print(f"Your score is: {scores[year]}, cutoff: {cutoff}")
  print("I will attempt next year")
  year = year + 1 # I am adding 1 to current year

Your score is: 100, cutoff: 400
I will attempt next year
Your score is: 200, cutoff: 400
I will attempt next year
Your score is: 300, cutoff: 400
I will attempt next year
Your score is: 399, cutoff: 400
I will attempt next year

## Infinite loop

if the CONDITION is always TRUE then you loop will keep on running...

In [ ]:
year = 4
scores[year]

500

In [ ]:
"""
Child is learning to counting 10 ruppes of note
"""

notes = 10
i = 1 # 1st note

while i <= notes:
  print(f"current sum: {i*10}")
  i = i + 1

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50
current sum: 60
current sum: 70
current sum: 80
current sum: 90
current sum: 100

In [ ]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

current_station = 0
destination_station = "Station 03"

while stations[current_station] != destination_station:
  print(f"current station is: {stations[current_station]}")
  print(f"my destination is: {destination_station}")
  print("Continue the journey I haven't reached the destination")
  current_station = current_station + 1
  print(f"Next station is: {stations[current_station]}")
  print("-----")

current station is: Station 01
my destination is: Station 03
Continue the journey I haven't reached the destination
Next station is: Station 02
-----
current station is: Station 02
my destination is: Station 03
Continue the journey I haven't reached the destination
Next station is: Station 03
-----

## While else:

In [ ]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

current_station = 0
destination_station = "Station 03"

while stations[current_station] != destination_station:
  print(f"current station is: {stations[current_station]}")
  print(f"my destination is: {destination_station}")
  print("Continue the journey I haven't reached the destination")
  current_station = current_station + 1
  print(f"Next station is: {stations[current_station]}")
  print("-----")
else:
  print(f"I have arrived at: {stations[current_station]}")

current station is: Station 01
my destination is: Station 03
Continue the journey I haven't reached the destination
Next station is: Station 02
-----
current station is: Station 02
my destination is: Station 03
Continue the journey I haven't reached the destination
Next station is: Station 03
-----
I have arrived at: Station 03

```
while CONDITION is True:
  statement 
else:
  statement
```

In [ ]:
"""
Child is learning to counting 10 ruppes of note
"""

notes = 5
i = 1 # 1st note

while i <= notes:
  print(f"CONDITION: {i <= notes}")
  print(f"current sum: {i*10}")
  i = i + 1
  print("------")
else:
  print(f"CONDITION: {i <= notes}")
  print("No more 10 rupees notes left")

CONDITION: True
current sum: 10
------
CONDITION: True
current sum: 20
------
CONDITION: True
current sum: 30
------
CONDITION: True
current sum: 40
------
CONDITION: True
current sum: 50
------
CONDITION: False
No more 10 rupees notes left

## for loop

In [ ]:
for i in range(0, 10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10): # (10 here is out of bound)
  print(f"10 X {i} = {10*i}")

10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

In [ ]:
for i in range(0, 10): # (10 here is out of bound)
  print(f"10 X {i + 1} = {10*(i+1)}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [ ]:
for i in range(1, 11): # (11 here is out of bound)
  print(f"10 X {i} = {10*i}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [ ]:
"Sunny"*10

'SunnySunnySunnySunnySunnySunnySunnySunnySunnySunny'

In [ ]:
"Sunny" + "Sunny"

'SunnySunny'

In [ ]:
"*"*10

'**********'

In [ ]:
for i in range(1, 11): # (11 here is out of bound)
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
## i is not neccessary to use

for sunny in range(1, 11): # (11 here is out of bound)
  print("*"*sunny)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
Cost_of_items = [100, 200, 129, 456]
#                 0    1    2    3

total_sum = 0

for i in range(0, 4): # 0,1,2,3 
  print(f"{total_sum} = {total_sum} + {Cost_of_items[i]}")
  total_sum = total_sum + Cost_of_items[i]
  print(f"after adding total_sum={total_sum}")
  print("---")
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total_sum=100
---
100 = 100 + 200
after adding total_sum=300
---
300 = 300 + 129
after adding total_sum=429
---
429 = 429 + 456
after adding total_sum=885
---
Total amount to be paid: 885

In [ ]:
Cost_of_items = [100, 200, 129, 456]
#                 0    1    2    3

total_sum = 0

for i in range(0, 3): # 0,1,2,3 
  print(f"{total_sum} = {total_sum} + {Cost_of_items[i]}")
  total_sum = total_sum + Cost_of_items[i]
  print(f"after adding total_sum={total_sum}")
  print("---")
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total_sum=100
---
100 = 100 + 200
after adding total_sum=300
---
300 = 300 + 129
after adding total_sum=429
---
Total amount to be paid: 429

In [ ]:
len(Cost_of_items)

4

In [ ]:
Cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3

total_sum = 0
N = len(Cost_of_items)

for i in range(0, N): # 0,1,2,3 
  print(f"{total_sum} = {total_sum} + {Cost_of_items[i]}")
  total_sum = total_sum + Cost_of_items[i]
  print(f"after adding total_sum={total_sum}")
  print("---")
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total_sum=100
---
100 = 100 + 200
after adding total_sum=300
---
300 = 300 + 129
after adding total_sum=429
---
429 = 429 + 456
after adding total_sum=885
---
885 = 885 + 1000
after adding total_sum=1885
---
Total amount to be paid: 1885

In [ ]:
Cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3

total_sum = 0

for cost in Cost_of_items:
  print(f"{total_sum} = {total_sum} + {cost}")
  total_sum = total_sum + cost
  print(f"after adding total_sum={total_sum}")
  print("---")
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total_sum=100
---
100 = 100 + 200
after adding total_sum=300
---
300 = 300 + 129
after adding total_sum=429
---
429 = 429 + 456
after adding total_sum=885
---
885 = 885 + 1000
after adding total_sum=1885
---
Total amount to be paid: 1885

In [ ]:
Cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3
total_sum = 0
for cost in Cost_of_items:
  print(cost)

100
200
129
456
1000

In [ ]:
Cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3
total_sum = 0
N = len(Cost_of_items)
for i in range(0, N): # 0,1,2,3 
  print(Cost_of_items[i])

100
200
129
456
1000

In [ ]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  print(f"Current station is: {current_station}")

Current station is: Station 01
Current station is: Station 02
Current station is: Station 03
Current station is: Station 04

In [ ]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for sunny in stations:
  print(f"Current station is: {sunny}")

Current station is: Station 01
Current station is: Station 02
Current station is: Station 03
Current station is: Station 04

### break and continue

In [ ]:
cost_of_items = [100, 200, 129, 456, 1000, 199, 299]
#                 0    1    2    3

total_sum = 0
budget = 2000

for cost in cost_of_items:
  total_sum = total_sum + cost
  print(f"current total: {total_sum}")
  if total_sum > budget:
    print(f"since current total is more than my budget: {budget}")
    print("please remove the last item")
    total_sum = total_sum - cost
    break

print(f'total amount to be paid: {total_sum}')

current total: 100
current total: 300
current total: 429
current total: 885
current total: 1885
current total: 2084
since current total is more than my budget: 2000
please remove the last item
total amount to be paid: 1885

In [ ]:
for i in range(1, 100):
  print(i)
  if i > 50:
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [ ]:
for i in range(1, 100):
  print(i)
  if i >= 50:
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
for i in range(1, 100):
  if i > 50:
    break
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
for i in range(1, 20):
  if i%2==0: # if no is even then start the loop again
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(1, 20):
  if i%2==0: # if no is even then start the loop again
    break
  print(i)

1

In [ ]:
for i in range(1, 20):
  if i%2!=0: # if no is odd then start the loop again
    continue # Start the loop again
  print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(1, 20):
  if i%2!=0: #
    break # STOP THE LOOP DON't proceed at all
  print(i)

In [ ]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  print(f"Current station is: {current_station}")
  if current_station == "Station 03":
    break

Current station is: Station 01
Current station is: Station 02
Current station is: Station 03

In [ ]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  print(f"Current station is: {current_station}")
  if current_station == "Station 02":
    break

Current station is: Station 01
Current station is: Station 02

In [ ]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  if current_station == "Station 02":
    continue
  print(f"Current station is: {current_station}")

Current station is: Station 01
Current station is: Station 03
Current station is: Station 04

- break: it completely stops the loop
- continue: it skips the current loop or it skips all the statement after `continue` keyword

In [ ]:

for i in range(1, 10):
  pass # I want to write code later

In [ ]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  if current_station == "Station 02":
    pass
  print(f"Current station is: {current_station}")

Current station is: Station 01
Current station is: Station 02
Current station is: Station 03
Current station is: Station 04

# REVISION

## if else

In [ ]:
num = 100

if num%2 == 0:
  print("The no is even")
else:
  print("The no is odd")

The no is even

In [ ]:
num = 99

if num%2 == 0:
  print("The no is even")
else:
  print("The no is odd")

The no is odd

In [ ]:
num = 89

if num > 100:
  print("the no. is greater than 100")
elif 80 < num <= 100:
  print("the no. is in range 80 to 100")

elif 60 < num <= 80:
  print("the no. is in range 60 to 80")

elif 40 < num <= 60:
  print("the no. is in range 40 to 60")

else:
  print("The no is less than 40")

the no. is in range 80 to 100

In [ ]:
num = 100

if 80 < num <= 100:
  print("grade A")
elif 60 < num <= 80:
  print("grade B")
elif 40 < num <= 60:
  print("grade C")
else:
  print("Failed")

grade A

## nested if else:

In [ ]:
a, b, c = 120, 13, 15

if a > b:
  if a > c:
    print(f"a is greater than all 3 nos: {a}")

a is greater than all 3 nos: 120

In [ ]:
attendance = 70
assignment_submitted = 40
sports_player = True

print(f"attendence criteria met? : {attendance >= 75}")
print(f"assignment criteria met? : {assignment_submitted >= 70}")
print(f"sports criteria met? : {sports_player}")

if attendance >= 75 and assignment_submitted >= 70:
    if sports_player:
        print("The student is eligible to appear in final exam")
    else:
        print("The student is eligible to appear in final exam")
else:
    print("The student is not eligible")

attendence criteria met? : False
assignment criteria met? : False
sports criteria met? : True
The student is not eligible