<a href="https://colab.research.google.com/github/abhishek00045454/my-_own_work/blob/main/FOR__Pratical_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bank_account_money =24000
current_money_status =20000
if bank_account_money <=18000 and current_money_status <=17000:
  print("you are gareeb")
elif bank_account_money <=25000 and current_money_status < 35000:
  print("you are rich")
else:
  print("you are earn some money")

you are rich

In [ ]:
credit_card =True
atm_card =False
if credit_card and atm_card:
  print("pay amount")
else:
  print("else you have atm card pay bill")

else you have atm card pay bill

In [ ]:
attendance =75
submitted_attendance =74
sports= True
print(f"your attendance is :{attendance >=75}")
print(f"your attendance submitted is :{submitted_attendance <= 74}")
print(f"your sports  is inculde marks in it :{sports==True}")

if attendance==75   or submitted_attendance <=74 or sports==True:
  print("you are sit in exam so study")
  print("best of luck")
else:
  print("plz complete your reqiuredment then sit exam hall")
  print("you are meet H.R")

your attendance is :True
your attendance submitted is :True
your sports  is inculde marks in it :True
you are sit in exam so study
best of luck

In [ ]:
Name=input("Enter your name is :")
if  Name == "Abhishek saini":
  print("He the right boy")
else:
  print("No you enter the other name")

Enter your name is :Abhishek saini
He the right boy

In [ ]:
# list_01 =[1,2,3,4]
for int in range(0,100):
  if int<5*2:
    print('hello', end=" ")
  elif int%2==0:
    print(int, end=" ")

hello hello hello hello hello hello hello hello hello hello 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
list_01 =[1,2,3,4,5,6,7,8,9]
count_odd_nos = 0
count_even_nos = 0
for numbers in list_01:
  if (numbers % 2 ==1):
    count_odd_nos += 1
  if (numbers%2 ==0):
    count_even_nos += 1
  print(f"the total odd numbers is :{count_even_nos}")
  print(f"the total even numbers is : {count_odd_nos}")

the total odd numbers is :0
the total even numbers is : 1
the total odd numbers is :1
the total even numbers is : 1
the total odd numbers is :1
the total even numbers is : 2
the total odd numbers is :2
the total even numbers is : 2
the total odd numbers is :2
the total even numbers is : 3
the total odd numbers is :3
the total even numbers is : 3
the total odd numbers is :3
the total even numbers is : 4
the total odd numbers is :4
the total even numbers is : 4
the total odd numbers is :4
the total even numbers is : 5

In [ ]:
integers =[2,4,5,6]
for i in integers:
  if i % 2 ==0:
    print(i)

2
4
6

In [ ]:
num1 =3 
num2 =5
while (num1 < num2):
  print("this is ryt")

In [ ]:
numbers =6
fac =1
if(numbers ==0):
  print(1)
else:
  while numbers >=1:
    fac =fac* numbers
    numbers -= 1
    print(fac)

6
30
120
360
720
720

In [ ]:
list_01 =["nice","lol","kite","bolte to jks"]
wish_list =[]
for list_44 in list_01:
  if list_01 =="nice":
    wish_list += [1]
    print(wish_list)

In [ ]:
n = int(input("enter the rows: "))
for i in range(n):
  print("*" *3)

enter the rows: 4
***
***
***
***

In [ ]:
n =int(input("enter the rows:"))
for i in range(n):
  print(" 7"*n )

enter the rows:7
 7 7 7 7 7 7 7
 7 7 7 7 7 7 7
 7 7 7 7 7 7 7
 7 7 7 7 7 7 7
 7 7 7 7 7 7 7
 7 7 7 7 7 7 7
 7 7 7 7 7 7 7

In [ ]:
n = int(input("Enter the rows: "))
for i in range(n):
  print((str(i+1) +" ")*n)

Enter the rows: 4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
for i in range(0,101):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
n = int(input("Enter the rows needed : "))
for i in range(n):
  print((str(i+1)+' ' )*n)

Enter the rows needed : 5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
n = int(input("Enter the rows you needed: "))
for i in range(n):
  print(" A "*n)

Enter the rows you needed: 5
 A  A  A  A  A
 A  A  A  A  A
 A  A  A  A  A
 A  A  A  A  A
 A  A  A  A  A

In [ ]:
n =int(input("Enetr the row you needed: "))
for i in range(n):
  print((chr(65+i)+' ')*(i+1))

Enetr the row you needed: 4
A
B B
C C C
D D D D

In [ ]:
n =int(input("Enetr the rows :"))
for i in range(n):
  for j in range(n):
    print(str(j+1), end=" ")
    
  print()

Enetr the rows :4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
n= int(input("Eneter the rows :"))
for i in range(n):
  for j in range(n):
    print(chr(65+j),end=" ")
  print()

Eneter the rows :4
A B C D
A B C D
A B C D
A B C D

In [ ]:
n = int(input("enter the rows:"))
for i in range(n):
  print((str(i+1)+ ' ')*n)

enter the rows:4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
n = int(input("enter the rows:"))
for i in range(n):
  for j in range(n):
    print(chr(65+j-i),end =" ")
  print()

enter the rows:4
A B C D
@ A B C
? @ A B
> ? @ A

In [ ]:
n =int(input("enter the rows:"))
for i in range(n):
  print((str(n-i)+" ")*n)
  # n=n-1

enter the rows:4
4 4 4 4
2 2 2
0 0
-2

In [ ]:
n = int(input("Enter the rows as per you needed :"))
for i in range(n):
  print((chr(64+n-i)+" ")*n)

Enter the rows as per you needed :4
D D D D
C C C C
B B B B
A A A A

In [ ]:
n = int(input("enter the rows :"))
for i in range(n):
  for j in range(n):
    print((n-j),end=" ")
  print()

KeyboardInterrupt: ignored

In [ ]:
n = int(input("enter the rows:  "))
for i in range(n):
  for j in range(n):
    print(chr(64+n-j),end=" ")
  print()

enter the rows:  3
C B A
C B A
C B A

In [ ]:
#important_question
"""
i is left side -> is rows
j is downward -> is column
"""
n = int(input("enter the rows :"))
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  
  print()

enter the rows :4
*
* *
* * *
* * * *

In [ ]:
n = int(input('enter the rows :'))
for i in range(n):
  for j in range(i-1):
    print("*",end=" ")
  print()

enter the rows :4


*
* *

In [ ]:
n = int(input('enter the rows:'))
for i in range(n):
  for j in range(i+1):
    print(i+1,end =" ")
  print()

enter the rows:4
1
2 2
3 3 3
4 4 4 4

In [ ]:
n = int(input('enter the rows :'))
for i in range(n):
  print((str(i+1)+" ")*(i+1))

enter the rows :4
1
2 2
3 3 3
4 4 4 4

In [ ]:
statment ="abhishek saini"
statment[::-1]

'inias kehsihba'

In [ ]:
name =input("Enter your's name :")
output =name[::-1]
if name=="abhishek saini":
  print(f"the output is:{output} ")
else:
  print("invalid input")

Enter your's name :amit saini
invalid input

In [ ]:
s=input("enter the name is: ")
r =reversed(s)
output =" ".join(r)
print(output)

enter the name is: abhishek saini
i n i a s   k e h s i h b a

In [ ]:
s = "abhishek saini"
r = reversed(s)
for i in r:
  print(i,end="")

inias kehsihba

In [ ]:
s= "abhishek saini"
output =" "
i =len(s)-1
while i >=0:
  output =output +s[i]
  i = i-1
print(output)

 inias kehsihba

In [ ]:
"""
input:- learning python is very easy
output:- easy very is python learinig
"""
s= "learning python is very easy"
r= s.split()
ki =r [::-1]
output =' '.join(ki)
print(output)

easy very is python learning

In [ ]:
r = input("enter the string value: ")
w =r.split()
op =w[::-1]
output =" ".join(op)
print(output)

enter the string valueabhishek saini is very good boy
boy good very is saini abhishek

In [ ]:
n =input('enter the name')
op =n.split()
u =op[::-1]
output =" ".join(u)

print(output)

enter the namemy name is abhishek saini
saini abhishek is name my

In [ ]:
n = input("enter the name: ")
op =n.split()
u =[]
for word in op:
  u.append(word[::-1])
output =" ".join(u)
print(output)

enter the name: my name is abhishek saini
ym eman si kehsihba inias

In [ ]:
n = input("enter your code is :")
u =n[::-1]
print(u)

enter your code is :my name is durga
agrud si eman ym

In [ ]:
n = input("enter your name is :")
s = reversed(n)
for i in s:
  print(i)

enter your name is :durga
a
g
r
u
d

In [ ]:
n = input("enter your name is :")
s = reversed(n)
output =" ".join(s)
print(output)

enter your name is :my na
a n   y m

In [ ]:
n = input("enter the input :")
output =" "
i =len(n)-1
while i>=0:
  output =output +n[i]
  i = i-1
print(output)

enter the input :my name is
m y   n a m e   i ssi eman ym

In [ ]:
n = "my favorite sweet  is kaanchokatli"
x  =n.split()
w =x[::-1]
output =" ".join(w)

print(output)

kaanchokatli is sweet favorite my

In [ ]:
n = "my name is abhishek saini"
x= n.split()
w= x[::-1]
output =" ".join(w)
print(output)

saini abhishek is name my

In [ ]:
n = input("write a code is : ")
l = n.split()
l1 =[]
for i in l:
  l1.append(i[::-1])
output = " ".join(l1)
print(output)

write a code is : my name is abhishek saini
ym eman si kehsihba inias

In [ ]:
s ="one two three four five six"
l=n.split()
i =0
l1=[]
while i<len(l):
    if i%2==0:
      l1.append(l[i])
    else:
      l1.append(l[i][::-1])
    i =i+1
output =' '.join(l1)
print(output)

one owt three ruof five xis

In [ ]:
def shout(text): 
    return text.upper() 
    
print(shout('Hello')) 
    
yell = shout 
    
print(yell('Hello'))

HELLO
HELLO

In [ ]:
def shout(text): 
    return text.upper() 
  
def whisper(text): 
    return text.lower() 
  
def greet(func): 
    # storing the function in a variable 
    greeting = func("Hi, I am created by a function passed as an argument.") 
    print(greeting)
  
greet(shout) 
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

In [ ]:
def tesst01():
  op =[1,2,3,4,55,"abhishek","noun"]
  oup= []
  for i in op:
    if type(i) == str:
      oup.append(i)
  return oup

In [ ]:
tesst01()

['abhishek', 'noun']

In [ ]:
def test01():
  a=5
  b=6
  sum=a+b
  return sum
def test02():
  c=5
  d=6
  multiple = c*d
  return multiple

In [ ]:
test01()
test02()

30

In [ ]:
def op():
  print("hello world,that can be defined by your own")

In [ ]:
op()

hello world,that can be defined by your own

In [ ]:
def test01(a,b):
  return a*b

In [ ]:
test01(4,6)

24

In [ ]:
def calculate_total(exp):
  total =0
  for item in exp:
    total =total+item
  return total

op_01 = [100,300,660, 680]
list_02 =[104,708,660, 686]

In [ ]:
calculate_total(op_01)

1740

In [ ]:
calculate_total(list_02)

2158

In [ ]:
def sum(a,b):
  print("a :",a)
  print("b :",b)
  
  total = a+b
  return total

In [ ]:
sum(77,88)

a : 77
b : 88

165

In [ ]:
a={1,2,3}
b ={2,3,4}
op=a.difference(b)
print(op)

{1}

In [ ]:
list_02 ={
    "name": "abhishek saini",
    "sub": "data science",
    "topic": "python function"
    }
print(type(list_02))
print(list_02)

<class 'dict'>
{'name': 'abhishek saini', 'sub': 'data science', 'topic': 'python function'}

In [ ]:
list=[1,2,3,4,5,6,"ineuron","google"]

In [ ]:
def test02(l):
  a=1
  for i in l:
    if type(i)==int:
     a=a*i
  return a

In [ ]:
test02(list)

In [ ]:
pip install python-docx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-docx
  Downloading python-docx-0.8.11.tar.gz (5.6 MB)
     |████████████████████████████████| 5.6 MB 7.5 MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx) (4.9.1)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-py3-none-any.whl size=184507 sha256=4311d66ce8331f61f4c6af6ea0d9276b333ee42c8d0f4bd22a2ecf6b20cf9f1d
  Stored in directory: /root/.cache/pip/wheels/f6/6f/b9/d798122a8b55b74ad30b5f52b01482169b445fbb84a11797a6
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.11

In [ ]:
import docx
doc = docx.Document("test 02.docx")

PackageNotFoundError: ignored

In [ ]:
print("calcaulator")
a= int(input("choice your first digit :"))
b = int(input("choice the second digit :"))
ui = input( "choice your sign:")
if ui=='+':
  print(a+b)
elif ui=="-":
  print(a-b)
elif ui=="*":
  print(a*b)
elif ui=="/":
  print(a/b)
else:
  print("you choice invalid operations")

calcaulator
choice your first digit :45
choice the second digit : 54
choice your sign:+
99

In [ ]:
print("what type of arithmetic operation you want to do?\n"
      "type + for addition\n"
      "type - for subtraction\n"
      "type / for division\n"
      "type* for multiplication\n")
 
 
# taking input
type_of_calculation = input()
 
print("enter the first number")
A = int(input())
 
print("enter the second number\n")
B = int(input())
 
b = "+"
c = "-"
d = "*"
e = "/"
 
 
# setting normal and false condition for calculator
if type_of_calculation == b:
    # for addition
    if (A == 53 and B == 9) or (A == 90 and B == 52):
        print(97)
    else:
        print(A+B)
elif type_of_calculation == c:
   
    # for subtraction
    print(A-B)
elif type_of_calculation == d:
   
    # for multiplication
    if A == 45 and B == 3 or A == 4 and B == 67:
        print(575)
    else:
        print(A*B)
elif type_of_calculation == e:
   
    # for division
    if A == 5 and B == 63:
        print(40)
    else:
        print(A/B)

what type of arithmetic operation you want to do?
type + for addition
type - for subtraction
type / for division
type* for multiplication

*
enter the first number
90
enter the second number

52
4680

In [ ]:
list_44 =[1,2,3,4,4,4,4,4,4,45,655,4,5,5,6,65,5]

for i in list_44:
  sum_77 =sum_77 + list_44
  print(sum_77)

In [ ]:
def factorial(n):
  if n ==0:
    print(0)
  elif n==0 or n==1:
    return 1
  else:
    fact =1
    while n>1:
      fact *= n
      n -= 1
    return fact
def factorial_2(n):
  if n ==0:
    print(0)
  elif n==0 or n==1:
    return 1
  else:
    fact =1
    while n>1:
      fact *= n
      n -= 1
    return fact

In [ ]:
print(factorial(11))
print(factorial_2(128))

39916800
385620482362580421735677065923463640617493109590223590278828403276373402575165543560686168588507361534030051833058916347592172932262498857766114955245039357760034644709279247692495585280000000000000000000000000000000

In [ ]:
def fibonacci(n):
  if n < 0:
    print("invaild ")
  if n==0:
    return 0
  elif n==1 or n==2:
    return 1
  
    
  else:
    return fibonacci(n-1) + fibonacci(n-2) 
# 0,1,1,2,5,6

In [ ]:
fibonacci(11)

89

In [ ]:
n = input(' Enter number n') 
Sum = 0 
for i in range(1, n ):
      Sum += i 
print(" sum of the series is :", Sum )

 Enter number n45

TypeError: ignored

In [ ]:
n = int(input("enter the numbers term of the series  :"))
i =1
x=0
while i<=n:
 x= x * 2+1
 print(x,end=" ")
 i=i+1

enter the numbers term of the series  :4
1 3 7 15

In [ ]:
#1,2,2,3,3,3,4,4,4,4,4
n = int(input("enter the numbers term of the series :"))
i=1

while i<=7:
  j=1
  while j<=i:
    print(i,end=" ")
    j=j+1
  i=i+1

enter the numbers term of the series :6
1 2 2 3 3 3 4 4 4 4 5 5 5 5 5 6 6 6 6 6 6 7 7 7 7 7 7 7

In [ ]:
n = int(input("enter the series which you want :"))
x = 0
i = 1
while i<=n:
  print(x,end=' ')
  x=x+i
  i=i+1

enter the series which you want :5
0 1 3 6 10

In [ ]:
n = int(input("Enter the prime number as you wish:"))
for x in range(2,n):
  if n % x==0:
   break
if n%x==1:
  print(n,"is the prime number")
else:
  print(n,"is not a prime number")

Enter the prime number as you wish:23
23 is the prime number

In [ ]:
n = int(input("enter the series the series"))
sum =0
for i in range(1,n+1):
  print(ind,end=" ")
  i=i+ind

enter the series the series5
1
1 1 1 1 1

In [ ]:
bank_account =int(input())
your_won_expense =int(input())
if bank_account <= 10000 and bank_account <= 15000:
  print("you are expense is right so be ready to expense")
else:
  print("your expense is very high so plz be low as per reqired")

2000
1500
you are expense is right so be ready to expense

In [ ]:
import time
from random import randint

for i in range(1,45):
  print(" ")

s=" "

for i in range(1,100):
  count= randint(1,100)
  while (count > 0):
    s=s+ " "
    count -= 1

  if (i%10==0):
     print(s+ "happy brdy") 
  else:
    print(s+ "*")
    s=" "
    time.sleep(0.10)