<a href="https://colab.research.google.com/github/abhishek00045454/my-_own_work/blob/main/practise_live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1

In [ ]:
date=input()
year= date[-4:]
print(year)

14-8-2001
2001

In [ ]:
import functools
import operator
lis=[1,2,44,55,88]
print(functools.reduce(operator.mul,lis))

425920

In [ ]:
x= int(input())
y= int(input())
res_=print(x**y)

print(f"{len(str(res_))}")

4
5
1024
4

In [ ]:
s= input()
n = len(s)
if n%2==0:
  if s[n-1]==".":
     s=s[:-1]
  else:
    s=s+"."
n=int((len(s)-1)/2)
print(s[n-1:n+2])

abhish
his

In [ ]:
e1=int(input())
e2=int(input())
e3=int(input())
e4=int(input())
e5=int(input())
if (e1+e2) % 2==0:
  print("yes")
if (e1+e2) % 2==0:
  print("yes")
if (e1+e2) % 2==0:
  print("yes")
if (e1+e2) % 2==0:
  print("yes")
if (e1+e2) % 2==0:
  print("yes")
else:
  print("no")

2
4
6
8
10
yes
yes
yes
yes
yes

In [ ]:
x= input("enter the string:")
vowels=0
for i in x:
  if ((i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U')):
    vowels +=1
print(f"numbers of vowels {vowels}")
print("vowels")

enter the string:abhishek
numbers of vowels 3
vowels

In [ ]:
n1 = input()
d1 = input()
n2 = input()
d2 = input()
if d1==d2 :
     if n1<n2 :
         print(n2)
     else :
         print(n1)
elif d1[-4:] != d2[-4:] :
     if int(d1[-4:]) < int(d2[-4:]):
         print(n2)
     else :
         print(n1)
elif d1[3:5] != d2[3:5]:
     if int(d1[3:5]) < int(d2[3:5]):
         print(n2)
     else :
         print(n1)
else :
     if int(d1[0:2]) < int(d2[0:2]):
         print(n2)
     else :
         print(n1)

abhishek
19-7-2001
amit
20-8-2008
amit

In [ ]:
p= input()
if 8<= len(p) <=32 and p[0].isalpha()  and '/'  not in p and "\\" not in p and

'ab'

In [ ]:
for i in  range(1,10):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [ ]:
n = int(input())
is_prime= True
for i in range(2,n):
  if n %i==0:
    is_prime = False
    break
  else:
    is_prime= True
    print("its a prime")

7
its a prime
its a prime
its a prime
its a prime
its a prime

In [ ]:
a= input()
b=input()
for c in b:
  if c in b:
    b = b.replace(c ,"")
print(b)

In [ ]:
a= input()
b= False
if len(a)==10 and int(a[0])>5 and int(a[0])<7 and a.isdigit():
  for i in range(10):
    if a.count(a[i])>8:
      b=True
      if a[i]*6 in a:
        b = False
        break
    else:
      break
if a:
  print("valid")
else:
  print("invalid")

In [ ]:
x = "abhishek","abhiehk","abhishek"

u=x.count("abhishek")
print(u)

2

In [ ]:
s=input().split(" ")
a= input()
if a in s:
  print("yes")
else:
  print("no")

abhishek
abhishek
yes

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
x=int(input())
y=factorial(x)
print("{} ! = {}".format(x,y))

4
4 ! = 24

In [ ]:
factorial(5)

120

In [ ]:
n = input()
a=False
if len(n)==10 and int(n[0])>5  and n.isdigit():
  for i in range(10):
    if n.count(n[i])<8:
      a=True
      if n[i]*6 in n:
        a=False
        break
    else:
      break
if a:
  print("valid")
else:
  print("invalid")

7976449070
valid

In [ ]:
n = input().split(" ")
s=input()
if s in n:
  print("yes")
else:
  print("no")

abhishek
abhishek
yes

In [ ]:
s= input()
if s[0]=="D" and s[1]=="S":
  print("true")
else:
  print("no")

DS1nc12ec049
true

In [ ]:
n = input()
if (n[0:4]=="TN07") or (n[4:8]=="TN07"):
  print("True")
else:
  print("false")

BRNOTN07
True

In [ ]:
n = input()
a= int(input())
b= int(input())
x=n[a:b+1]
y=len(n)
ans=" "
while(y>=len(ans)):
  ans+=x

print(ans)

code
2
3
 dede

In [ ]:
u= input()
if u==u[::-1]:
  print("panlidrome")
else:
  print("no palidrome")

madam
panlidrome

In [ ]:
n=int(input())
for i in range(1,n+1,4):
  if n==i:
    print("sapphire")
for j in range(2,n+1,4):
  if n==j:
    print("peridot")
for k in range(3,n+1,4):
  if n==k:
    print("ruby")
for l in range(4,n+1,4):
  if n==l:
    print("emerld")
else:
  print("none group")

17
sapphire
none group